<div class="row">
  <div class="col-md-8">
    <p class="lead">
      Fast, compiled Datalog for static analysis, with Rust integration.
    </p>
    <p>
      <em>Crepe</em> is a library that allows you to write declarative logic
      programs in Rust, with a
      <a href="https://en.wikipedia.org/wiki/Datalog">Datalog</a>-like syntax.
      It provides a procedural macro that generates efficient, safe code and
      interoperates seamlessly with Rust programs.
    </p>
    <p>
      Inspired by the power of
      <a href="https://souffle-lang.github.io/">Souffle</a> and
      <a href="https://github.com/HarvardPL/formulog">Formulog</a>, this project
      is unique in enabling safe integration of arbitrary functions from the
      host language (Rust) within compiled Horn clauses. It also includes many
      features of modern Datalog implementations: stratified negation,
      semi-naive evaluation, and automatic index generation.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/crepe">GitHub</a>,
      <a href="https://crates.io/crates/crepe">Crates.io</a>,
      <a href="https://docs.rs/crepe">Documentation</a>
    </p>
  </div>
  <div class="d-none d-md-block col-md-4">
    <a href="/assets/images/crepe.png">
      <img class="img-fluid" alt="Crepe logo" src="/assets/images/crepe.png" />
    </a>
  </div>
</div>
