<div class="row">
  <div class="col-md-8">
    <p class="lead">
      A really fast simulation of Conway's Game of Life in the browser.
    </p>
    <p>
      This is an interactive implementation of Conway's Game of Life in a
      browser <code>&lt;canvas&gt;</code> element, which can simulate as many as
      2<sup>100</sup> cells over 2<sup>50</sup> generations in just
      milliseconds. The secret is Bill Gosper's wonderful
      <a href="https://en.wikipedia.org/wiki/Hashlife">Hashlife</a> algorithm,
      which combines quadtrees and memoization in a really nice way to
      <a
        href="https://www.drdobbs.com/jvm/an-algorithm-for-compressing-space-and-t/184406478"
        >"compress space and time"</a
      >. In the image, you can see the algorithm computing the
      498,913,509,376<sup>th</sup>
      generation of a Turing machine pattern in Conway's Game of Life, in under
      1 millisecond!
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/game-of-life">GitHub</a>,
      <a href="https://ekzhang.github.io/game-of-life/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/game-of-life.png">
      <img
        class="img-fluid"
        alt="Conway's Game of Life - Turing Machine"
        src="/assets/images/game-of-life.png"
      />
    </a>
  </div>
</div>
