<div class="row">
  <div class="col-md-8">
    <p class="lead">Control hundreds of tiny planets with gravity.</p>
    <p>
      Placeholder for gravity.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/gravity">GitHub</a>,
      <a href="https://ekzhang.github.io/gravity/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/gravity.png">
      <img
        class="img-fluid"
        alt="Gravity simulation"
        src="/assets/images/gravity.png"
      />
    </a>
  </div>
</div>
