<div class="row">
  <div class="col-md-8">
    <p class="lead">Dynamic programming applied to four-part harmony.</p>
    <p>
      Placeholder for harmony.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/harmony">GitHub</a>,
      <a href="http://autoharmony.herokuapp.com/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/harmony.png">
      <img
        class="img-fluid img-thumbnail"
        alt="Autoharmony"
        src="/assets/images/harmony.png"
      />
    </a>
  </div>
</div>
