<div class="row">
  <div class="col-md-8">
    <p class="lead">
      A competitive programmer's library of algorithms and data structures in
      C++.
    </p>
    <p>
      I maintain an open-source library of about thirty-five C++ templates for
      advanced competitive programmers. This includes fast implementations of
      algorithms like FFT, Aho-Corasick, and Tarjan, as well as data structures
      like Link-Cut Trees and Heavy-Light Decomposition.
    </p>
    <p>
      This is published on a website (shown in the image) using Angular and the
      GitHub API. It also includes a searchable collection of more than six
      hundred templates from other open-source competitive programming
      libraries.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/library">GitHub</a>,
      <a href="http://ekzlib.herokuapp.com/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/library.png">
      <img
        class="img-fluid"
        alt="Competitive Programming Library"
        src="/assets/images/library.png"
      />
    </a>
  </div>
</div>
