<div class="row">
  <div class="col-md-8">
    <p class="lead">
      Run interactive, simulated markets on estimation problems.
    </p>
    <p>
      Placeholder for market-game.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/market-game">GitHub</a>,
      <a href="http://estimation-markets.herokuapp.com/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/market-game.png">
      <img
        class="img-fluid"
        alt="Estimation markets"
        src="/assets/images/market-game.png"
      />
    </a>
  </div>
</div>
