<div class="row">
  <div class="col-md-8">
    <p class="lead">An online, real-time multiplayer card game.</p>
    <p>
      <em>Set with Friends</em> is a web implementation of a real-time pattern
      matching card game called
      <a href="https://en.wikipedia.org/wiki/Set_(card_game)">Set</a>.
      Originally, when I was at
      <a href="https://sparc-camp.org/">SPARC 2019</a>, I wondered how I could
      bridge the 3000 mile gap between some of the friends I had made after we
      parted ways. <em>Set with Friends</em> lets you play Set online with
      minimal overhead (no login necessary); it's as simple as sharing a custom
      link and having fun!
    </p>
    <p>
      During the design process, I heard about Firebase (a service offered by
      Google), so for me this became an introduction to serverless web
      applications, as well as an exercise in creating live interfaces. At the
      time of writing (May 2020), the website boasts over 6000 monthly active
      users, growing at a rate of over 400% in the last month. Most of this
      growth was completely natural; I didn't do much to advertise the site
      aside from sharing with close friends.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/setwithfriends">GitHub</a>,
      <a href="https://setwithfriends.com/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/setwithfriends.png">
      <img
        class="img-fluid"
        alt="Set with Friends"
        src="/assets/images/setwithfriends.png"
      />
    </a>
  </div>
</div>
