<div class="row">
  <div class="col-md-8">
    <p class="lead">A real-time, multiplayer online card game.</p>
    <p>
      This is a web implementation of a real-time pattern matching card game
      called
      <a href="https://en.wikipedia.org/wiki/Set_(card_game)">Set</a>. The idea
      of this project originated at
      <a href="https://sparc-camp.org/">SPARC 2019</a>, when I was thinking
      about how I could bridge the 3000 mile gap between some of the friends I'd
      made, after we part ways. This web application lets you play Set online
      with minimal overhead (no login); it's as simple as sharing a link to
      invite players to join your game.
    </p>
    <p>
      In the process of designing this application, I heard good things about
      Firebase (a database service offered by Google), so this app ended up
      serving as my introduction to serverless databases, as well as an exercise
      in live interface design. Because it can hard for users to keep track of
      many simultaneous interactions, animations and colors provide visual cues
      to help with understandability.
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/setwithfriends">GitHub</a>,
      <a href="https://setwithfriends.com/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/setwithfriends.png">
      <img
        class="img-fluid"
        alt="Set with Friends"
        src="/assets/images/setwithfriends.png"
      />
    </a>
  </div>
</div>
