<div class="row">
  <div class="col-md-8">
    <p class="lead">
      An online, cloud-synchronized workspace for competitive programmers.
    </p>
    <p>
      In competitive programming, speed is crucial, and it's easy to waste a lot
      of time doing repetitive tasks like making new programs from templates,
      creating input files, and running code on provided test data. Inspired by
      <a href="https://csacademy.com/">CS Academy</a>'s interface, this website
      provides an integrated problem viewer and code editor with compilation and
      testing built in, to eliminate repetition.
    </p>
    <p>
      To accomplish this, the web server scrapes problems from Codeforces and
      displays their statements side-by-side with a code editor. It also parses
      sample tests and implements parallel verification on all test cases with
      the click of a button&mdash;no copying and pasting required. Programs are
      autosaved and synchronized with a MongoDB instance, so they persist across
      sessions and browsers. Basically, everything that a competitive programmer
      needs, with no local environment setup!
    </p>
    <p class="font-weight-bold">
      Links:
      <a href="https://github.com/ekzhang/wkspace">GitHub</a>,
      <a href="http://wkspace.herokuapp.com/">Website</a>
    </p>
  </div>
  <div class="col-md-4">
    <a href="/assets/images/wkspace.png">
      <img
        class="img-fluid"
        alt="Competitive Programming Workspace"
        src="/assets/images/wkspace.png"
      />
    </a>
  </div>
</div>
