<div class="row">
  {% for item in site.data.writing[include.category] %}
  <div class="col-12 col-md-6 col-xl-4 mt-3 mb-2">
    <a
      class="writing-inner"
      target="_blank"
      rel="noopener noreferrer"
      href="{{ item.link }}"
    >
      <div class="writing-icon">
        <i class="fas fa-file-alt" data-fa-transform="grow-4"></i>
      </div>
      <div class="writing-description">
        <p class="writing-header">{{ item.title }}</p>
        <p class="writing-date">{{ item.date | date: '%B %-d, %Y' }}</p>
        <p class="m-0">{{ item.summary }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
