@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:300,400,500&display=swap");

$background: #fafafa;
$foreground: #ffffff;
$heading: "Roboto Slab", serif;
$body: "Roboto", sans-serif;

body {
  background-color: $background;
  font-family: $body;
}

h1 {
  font-family: $heading;
  font-size: 2.8rem;
  margin-top: 18px;
  margin-bottom: 12px;
  text-align: center;
}

h2 {
  font-family: $heading;
  margin-top: 1.5rem;
}

h3,
h4 {
  font-family: $heading;
  margin-top: 1.2rem;
  small {
    font-size: 70%;
    color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
  }
}

p {
  margin-bottom: 0.6rem;
}

a {
  color: #3056c5;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 18px;
  > a {
    margin: 0 8px;
    border-bottom: 1px solid;
    border-color: transparent;
    transition: border-color 0.5s;
    &:hover {
      text-decoration: none;
      border-color: inherit;
    }
    &.active {
      border-color: inherit;
    }
  }
}

main {
  background-color: $foreground;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 40px;
}

.spacer {
  background-color: $background;
  height: 1.5rem;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-top: 1.5rem;
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.tags {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  .badge {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.badge-gold {
  background-color: #ffb03b;
  color: white;
  &:hover {
    color: white;
  }
}

.dates {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  font-family: $heading;
  font-size: 1.1rem;
}

footer {
  padding: 24px;
}

.icon-list {
  display: flex;
  justify-content: center;
  font-size: 2em;
  > li {
    margin: 0 8px;
  }
  a {
    color: black;
    opacity: 0.65;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}

.footnote {
  text-align: center;
  color: lightgrey;
  font-weight: 300;
}
