---
layout: default
title: Eric Zhang - Projects
permalink: /projects
---

<section class="container">
  <h2>Projects</h2>
  <p>
    If you find something below particularly interesting, I welcome
    collaborations.
  </p>
  <ul class="list-unstyled">
    {% assign sorted_projects = site.data.projects | sort: 'title' %} {% for
    project in sorted_projects %}
    <li>
      <a href="#{{ project.title | url_encode }}">{{ project.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>

<div class="spacer"></div>

{% for project in site.data.projects %}
<section class="container" id="{{ project.title | url_encode }}">
  <h4>{{ project.title }} <small>{{ project.date }}</small></h4>
  {% assign repo = project.repo %} {% assign tags = project.tags %} {% include
  tags.html repo=repo tags=tags %} {% if project.summary %} {% capture
  include_path %}projects/{{ project.summary }}{% endcapture %} {% include {{
  include_path }} %} {% endif %}
</section>
{% if forloop.last == false %}
<hr />
{% endif %} {% endfor %}
