---
layout: default
title: Eric Zhang - Projects
permalink: /projects
---

<section class="container">
  <h2>Projects</h2>
  <h5>
    Here are some programming projects I've worked on. Hopefully you find them
    interesting.
  </h5>
</section>

<div class="spacer"></div>

{% for project in site.data.projects %}
<section class="container">
  <h4>{{ project.title }} <small>{{ project.date }}</small></h4>
  {% assign repo = project.repo %}
  {% assign tags = project.tags %}
  {% include tags.html repo=repo tags=tags %}
  {% if project.summary %}
  {% capture include_path %}projects/{{ project.summary }}{% endcapture %}
  {% include {{ include_path }} %}
  {% endif %}
</section>
{% if forloop.last == false %}
<hr />
{% endif %}
{% endfor %}
