{% extends "layout.html" %}

<!-- Title -->
{% block title %}Eric Zhang{% endblock %}

<!-- Content -->
{% block content %}
<div class="container">
  <h2>About</h2>
  <div class="row">
    <section class="col-md-8 col-xl-9">
      <div>
        I am a student at Harvard University studying computer science and
        mathematics. I aim to develop better software applications that people
        interact with, specifically empowering individuals. To that end, I
        research programming languages, graphics, machine learning, and systems.
        Past projects include:
        <ul class="my-2">
          <li>
            <a href="/projects#rustpad"><strong>Rustpad</strong></a
            >, self-hosted online collaborative code editor (1M+ downloads).
          </li>
          <li>
            <a href="/projects#rpt"><strong>Rpt</strong></a
            >, photorealistic path tracer for rendering 3D scenes.
          </li>
          <li>
            <a href="/projects#crepe"><strong>Crepe</strong></a
            >, compiled Datalog language in Rust, used by cloud security systems
            and compilers.
          </li>
          <li>
            <a href="/projects#fastseg"><strong>FastSeg</strong></a
            >, real-time semantic segmentation models for autonomous vehicles.
          </li>
          <li>
            <a href="/projects#setwithfriends"
              ><strong>Set with Friends</strong></a
            >, online multiplayer card game (20M+ pageviews, 600K+ users).
          </li>
        </ul>
      </div>
      <p>
        I have worked at
        <a href="https://www.jumptrading.com/">Jump Trading</a>, developing
        trading strategies for traditional and decentralized markets;
        <a href="https://scale.com/">Scale AI</a>, building infrastructure for a
        world-class ML team; <a href="https://www.nvidia.com/en-us/">Nvidia</a>,
        researching state-of-the-art deep learning models for computer vision
        tasks; and
        <a href="https://hms.harvard.edu/">Harvard Medical School</a>, analyzing
        clinical data to identify patients at risk of suicide. I have also
        written a
        <a href="https://aip.scitation.org/doi/pdf/10.1063/9780735421646"
          >physics book</a
        >
        and published
        <a
          href="https://www.combinatorics.org/ojs/index.php/eljc/article/view/v28i1p24/pdf"
          >peer-reviewed math research</a
        >.
      </p>
      <p>
        At Harvard, I am a teaching fellow for upper-level computer science
        classes. I also play viola in the
        <a href="https://www.harvardradcliffeorchestra.org/"
          >Harvard-Radcliffe Orchestra</a
        >
        and chamber music groups. I was a
        <a href="https://youngarts.org/">YoungArts</a> award winner in classical
        music, served as principal viola of the Texas All-State Symphony
        Orchestra, and was an invited soloist with a professional orchestra.
      </p>
    </section>
    <section class="col-md-4 col-xl-3">
      <img
        class="img-fluid"
        alt="Eric Zhang"
        src="/assets/images/profile.jpg"
      />
    </section>
  </div>

  <div class="row">
    <section class="col-lg-6">
      <h2>Competitive Programming</h2>
      <p>
        I am a
        <a href="https://codeforces.com/profile/ekzhang"
          >competitive programmer</a
        >. I won two gold medals representing the US at the International
        Olympiad in Informatics (IOI), placing 7<sup>th</sup>
        globally. I also ranked highly in the USAMO and USAPhO, and I currently
        compete on Harvard's ICPC team.
      </p>
      <p>
        I have written and tested problems for large national and international
        programming competitions, including the following:
      </p>
      <ul>
        <li>
          <a href="http://usaco.org/">USA Computing Olympiad (USACO)</a>
        </li>
        <li>
          <a href="https://noi.ph/"
            >National Olympiad in Informatics Philippines (NOI.PH)</a
          >
        </li>
        <li>
          <a href="https://www.hackerrank.com/pwshpc-online-round"
            >PWSH Programming Contest</a
          >
        </li>
        <li>
          <a
            href="https://www.hackerearth.com/challenges/competitive/CodeStar1/"
            >HackerEarth CodeStar Contest</a
          >
        </li>
      </ul>
      <p>
        My advanced algorithm and data structure library is available
        <a href="https://ekzlib.netlify.app/">here</a>. If you are looking for
        tutoring, I have previously taught recorded courses with
        <a href="https://alphastar.academy/courses/cs-courses/"
          >Alphastar&nbsp;Academy</a
        >
        for motivated students aiming to perform at a high level in programming
        competitions.
      </p>
    </section>
    <section class="col-lg-6">
      <h2>Coursework</h2>

      <h5>Current (Fall 2021)</h5>
      <ul>
        <li>
          <em>CS 252r:</em> PL Design Graduate Seminar (<a
            href="/assets/pdf/CS_252r_Notes_PL_Studio.pdf"
            >notes</a
          >)
        </li>
        <li>
          <em>MIT 6.843:</em> Robotic Manipulation (<a
            href="/assets/pdf/Hydroelastics.pdf"
            >project</a
          >)
        </li>
        <li>
          <em>Stat 211:</em> Statistical Inference (<a
            href="/assets/pdf/Stat_211_Notes.pdf"
            >notes</a
          >)
        </li>
        <li><em>Music 175r:</em> Mahler and the Finis Austriae</li>
        <li><em>Music 189r:</em> Chamber Music Performance</li>
      </ul>

      <h5>Past (2019&ndash;2021, abbreviated)</h5>
      <ul>
        <li>
          <em>Math 55a:</em> Studies in Algebra and Group Theory (<a
            href="/assets/pdf/Math_55a_Notes.pdf"
            >notes</a
          >)
        </li>
        <li>
          <em>Math 55b:</em> Studies in Real and Complex Analysis (<a
            href="/assets/pdf/Math_55b_Notes.pdf"
            >notes</a
          >)
        </li>
        <li>
          <em>Math 132:</em> Differential Topology (<a
            href="/assets/pdf/Math_132_Notes.pdf"
            >notes</a
          >)
        </li>
        <li>
          <em>Stat 210:</em> Graduate Probability I (<a
            href="/assets/pdf/Stat_210_Notes.pdf"
            >notes</a
          >)
        </li>
        <li>
          <em>CS 221:</em> Computational Complexity (<a
            href="/assets//pdf/Learning_Space_Cryptography.pdf"
            >project</a
          >)
        </li>
        <li>
          <em>CS 223:</em> Random Processes and Algorithms (<a
            href="/assets/pdf/Single_Bidder_Multi_Item_Auctions.pdf"
            >project</a
          >)
        </li>
        <li>
          <em>CS 228:</em> Computational Learning Theory (<a
            href="/assets/pdf/CS_228_Notes.pdf"
            >notes</a
          >,
          <a href="/assets/pdf/Compression_Based_Generalization_Bounds.pdf"
            >project</a
          >)
        </li>
        <li>
          <em>CS 252r:</em> PL/AI Graduate Seminar (<a
            href="/assets/pdf/CS_252r_Notes.pdf"
            >notes</a
          >, <a href="/assets/pdf/Generative_Music_Modeling.pdf">project</a>)
        </li>
        <li>
          <em>CS 263:</em> Systems Security (<a
            href="/assets/pdf/Browser_Fingerprinting.pdf"
            >project</a
          >)
        </li>
        <li><em>MIT 6.824:</em> Distributed Systems Engineering</li>
        <li>
          <em>MIT 6.838:</em> Shape Analysis (<a
            href="https://pencil-sketching.vercel.app/"
            >project</a
          >)
        </li>
      </ul>
    </section>
  </div>
</div>
{% endblock %}
