{% set links = load_data(path="data/links.toml") %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-156644599-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-156644599-1");
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    {% for link in links.nav %}
    <link rel="prefetch" href="{{ link.href }}" />
    {% endfor %}

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      integrity="sha256-sAcc18zvMnaJZrNT4v8J0T4HqzEUiUTlVFgDIywjQek="
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"
    ></script>

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Eric Zhang</h1>
      <nav>
        {% for link in links.nav %}
        <!-- Calculate if the link is active. -->
        {% set active = current_path in [link.href, link.href ~ "/"] %}
        <a href="{{ link.href }}" class="{% if active %}active{% endif %}"
          >{{ link.name }}</a
        >
        {% endfor %}
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <ul class="icon-list list-unstyled">
        {% for link in links.social %}
        <li>
          <a style="color: {{ link.color }}" href="{{ link.href }}"
            ><i class="{{ link.icon }}"></i
          ></a>
        </li>
        {% endfor %}
      </ul>
      <p class="footnote">
        Made by Eric Zhang. Design inspired by Michael Fogleman.
      </p>
    </footer>

    <script src="/main.js"></script>
  </body>
</html>
