{% extends "layout.html" %}

<!-- Title -->
{% block title %}Eric Zhang - Resume{% endblock %}

<!-- Content -->
{% block content %}
<section class="container">
  <h2>Education</h2>
  <h4>Harvard University</h4>
  <p class="dates">September 2019 – Current</p>
  <ul>
    <li>
      Pursuing an M.S. in Computer Science with a B.A. in Computer Science and
      Mathematics.
    </li>
    <li>
      <b>Teaching:</b>
      <ul>
        <li>
          TF for CS 124 (Data Structures and Algorithms), Spring 2020 -
          <em>Commendation for Extraordinary Teaching</em>
        </li>
        <li>TF for CS 182 (Artificial Intelligence), Fall 2020</li>
        <li>
          TF for CS 161 (Operating Systems), Spring 2021 -
          <em>Certificate of Distinction in Teaching</em>
        </li>
        <li>
          TA for
          <a href="https://sgi.mit.edu/">Summer Geometry Institute (SGI)</a>,
          Summer 2021
        </li>
        <li>TF for CS 153 (Compilers), Fall 2021</li>
      </ul>
    </li>
    <li>
      <b>Selected coursework (&dagger; graduate-level):</b>
      <ul>
        <li>Computational Complexity<sup>&dagger;</sup> (CS 221)</li>
        <li>Randomized Algorithms<sup>&dagger;</sup> (CS 223)</li>
        <li>Computational Learning Theory<sup>&dagger;</sup> (CS 228)</li>
        <li>PL/AI Graduate Seminar<sup>&dagger;</sup> (CS 252r)</li>
        <li>Systems Security<sup>&dagger;</sup> (CS 263)</li>
        <li>Distributed Systems Engineering<sup>&dagger;</sup> (MIT 6.824)</li>
        <li>Shape Analysis<sup>&dagger;</sup> (MIT 6.838)</li>
        <li>Robotic Manipulation<sup>&dagger;</sup> (MIT 6.843)</li>
        <li>Graduate Probability<sup>&dagger;</sup> (Stat 210)</li>
        <li>Graduate Statistical Inference<sup>&dagger;</sup> (Stat 211)</li>
        <li>Compilers (CS 153)</li>
        <li>Operating Systems (CS 161)</li>
        <li>Computer Graphics (MIT 6.837)</li>
        <li>Differential Topology (Math 132)</li>
        <li>Honors Abstract Algebra (Math 55a)</li>
        <li>Honors Real and Complex Analysis (Math 55b)</li>
      </ul>
    </li>
  </ul>
</section>

<hr />

<section class="container">
  <h2>Work Experience</h2>
  <h4>
    Software Engineer at
    <a href="https://convex.dev/">Convex</a>
  </h4>
  <p class="dates">June 2021 – Present</p>
  <ul>
    <li>Building the future of serverless computing.</li>
  </ul>

  <h4>
    Quantitative Research Intern at
    <a href="https://jumptrading.com/">Jump Trading</a>
  </h4>
  <p class="dates">June 2021 – August 2021</p>
  <ul>
    <li>
      Won the intern trading strategies competition and rotated on a trading
      team to research algorithmic signals in US equities.
    </li>
    <li>
      Developed decentralized apps on the Ethereum blockchain for the
      cryptocurrency team, including new trading algorithms on DEXs. Contributed
      to the open source Ethereum ecosystem in Rust, Go, and Python.
    </li>
  </ul>

  <h4>
    Software Engineering Intern at <a href="https://scale.com/">Scale AI</a>
  </h4>
  <p class="dates">December 2020 – January 2021</p>
  <ul>
    <li>
      Worked on machine learning infrastructure for a fast-growing startup using
      Terraform, Kubernetes, and AWS.
    </li>
    <li>
      Developed an in-house system to unify the ML training workflow, allowing
      the team to quickly iterate on models, share results on a tracking server,
      and launch Kubernetes distributed training jobs, saving “hours” of time on
      each experiment.
    </li>
  </ul>

  <h4>
    Architecture Intern at
    <a href="https://www.nvidia.com">Nvidia</a>
  </h4>
  <p class="dates">June 2020 – August 2020</p>
  <ul>
    <li>
      Worked with the Applied Deep Learning Research (ADLR) group on
      <a href="https://arxiv.org/abs/2005.10821">deep learning models</a> for
      street image segmentation.
    </li>
    <li>
      Individually developed and released
      <a href="https://github.com/ekzhang/fastseg">FastSeg</a>, an open-source
      library containing state-of-the-art PyTorch implementations of MobileNetV3
      LR-ASPP for real-time semantic segmentation, significantly more accurate
      than existing public implementations.
    </li>
  </ul>

  <h4>
    Research Assistant at
    <a href="https://pl.seas.harvard.edu/"
      >Harvard Programming Languages Group</a
    >
  </h4>
  <p class="dates">June 2020 – August 2020</p>
  <ul>
    <li>
      Worked on a C++ compiler for
      <a href="https://github.com/HarvardPL/formulog">Formulog</a>, a variant of
      Datalog that supports ML-like syntax extension and SMT queries.
    </li>
    <li>
      Generated highly parallel templatized C++17 code, used caching in B-Tree
      comparisons to speed up Datalog evaluation by 16x, and optimized existing
      OpenMP code using lockless data structures for an additional 4x speedup.
    </li>
    <li>
      Wrote a handwritten parser that was 30x faster than the ANTLR-generated
      LL(*) parser and used 20x less memory (80 GB to 4 GB).
    </li>
  </ul>

  <h4>
    Undergraduate Researcher at
    <a href="https://www.predmed.org/">Predictive Medicine Group</a>
  </h4>
  <p class="dates">December 2019 – June 2020</p>
  <ul>
    <li>
      Conducted research in statistics & medical informatics advised by Ben Reis
      (Harvard Medical School), developing temporal models to identify patients
      at high risk of suicide based on medical histories obtained from
      Massachusetts General Hospital.
    </li>
  </ul>

  <h4>
    Coauthor at
    <a href="https://aapt.org/">American Association of Physics Teachers</a>
  </h4>
  <p class="dates">April 2018 – October 2020</p>
  <ul>
    <li>
      Co-wrote a physics book with Branislav Kisačanin,
      <em>F=ma Contests: 2011-2019 Solutions Manual</em>.
    </li>
    <li>
      Provided detailed solutions for nine years of past <em>F=ma</em> contests
      to encourage physics interest among high school students.
    </li>
    <li>
      Published with the American Association of Physics Teachers (AAPT) and AIP
      Publishing, preprint available
      <a href="https://www.aapt.org/physicsteam/2020/pastexams.cfm">online</a>.
    </li>
  </ul>

  <h4>
    Computer Science Instructor at
    <a href="https://alphastar.academy/">AlphaStar Academy</a>
  </h4>
  <p class="dates">December 2017 – April 2020</p>
  <ul>
    <li>
      Taught advanced algorithms and data structures (USACO Platinum) and
      AIME-level (national math competition) mathematics to talented high school
      students across the nation.
    </li>
    <li>
      Developed detailed lesson plans and recorded lectures for future summer
      programs and online courses.
    </li>
  </ul>

  <h4>
    Mathematics Researcher at
    <a href="https://math.mit.edu/research/highschool/primes/index.php"
      >PRIMES-USA</a
    >
  </h4>
  <p class="dates">January 2018 – December 2018</p>
  <ul>
    <li>
      Conducted research on quasirandom permutations, using flag algebras and
      semidefinite programming.
    </li>
    <li>
      Published a paper in the
      <em>Electronic Journal of Combinatorics 28(1)</em>, and won the Regeneron
      STS competition.
    </li>
  </ul>
</section>

<hr />

<section class="container">
  <h2>Selected Awards</h2>

  <h4>Computer Science</h4>
  <ul>
    <li>
      <b>International Olympiad in Informatics (IOI):</b> Gold Medalist (2018,
      2019), 7<sup>th</sup> place globally
    </li>
    <li>
      <b>Google Hash Code:</b> World Finalist (2020, 2021), 7<sup>th</sup> place
      team out of over 100,000 students and professionals
    </li>
    <li>
      <b>Google Code Jam:</b> Round 3 Finalist (2020), placed 34<sup>th</sup>
      globally
    </li>
    <li><b>Facebook Hacker Cup:</b> Round 3 Finalist (2020)</li>
    <li><b>PicoCTF:</b> Winner (2018), ranked 6th</li>
  </ul>

  <h4>Mathematics</h4>
  <ul>
    <li>
      <b>Mathematical Olympiad Program (MOP):</b> Participant (2017), IMO team
      selection group (2017, 2018)
    </li>
    <li>
      <b>USA Math Olympiad (USAMO):</b> Honorable Mention (2017), top 24 in
      nation
    </li>
  </ul>

  <h4>Physics</h4>
  <ul>
    <li><b>U.S. Physics Team:</b> Invitee (2017, 2018, 2019)</li>
    <li>
      <b>USA Physics Olympiad (USAPhO):</b> Gold Medalist (2017, 2018, 2019)
    </li>
  </ul>

  <h4>Music Performance</h4>
  <ul>
    <li>
      <b>National YoungArts Foundation:</b> Winner in Classical Music (2018,
      2019)
    </li>
    <li>
      <b>JDR Viola Competition:</b> Grand prize winner, performed with a
      professional orchestra (2019)
    </li>
    <li>
      <b>Texas All-State Symphony Orchestra:</b> Principal Violist (2017),
      Co-Principal (2016, 2018)
    </li>
  </ul>
</section>
{% endblock %}
