---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-156644599-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-156644599-1");
    </script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
    ></script>

    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Eric Zhang</h1>
      <nav>
        {% for link in site.data.links.nav %}
        <a
          href="{{ link.href }}"
          class="{% if page.url == link.href %}active{% endif %}"
          >{{ link.name }}</a
        >
        {% endfor %}
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <ul class="icon-list list-unstyled">
        {% for link in site.data.links.social %}
        <li>
          <a style="color: {{ link.color }}" href="{{ link.href }}"
            ><i class="{{ link.icon }}"></i
          ></a>
        </li>
        {% endfor %}
      </ul>
      <p class="footnote">
        Made by Eric Zhang. Design inspired by Michael Fogleman.
      </p>
    </footer>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
