@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  hr {
    @apply border-neutral-200;
  }
}

@layer components {
  .link {
    @apply underline underline-offset-[3px] decoration-neutral-400 dark:decoration-neutral-500;
    @apply hover:text-black hover:decoration-black transition-colors;
    @apply dark:hover:text-white dark:hover:decoration-white;
  }

  .layout-md {
    @apply max-w-screen-md mx-auto px-4 sm:px-6;
  }

  .heading2 {
    @apply text-black text-xl font-semibold mb-4;
  }
}

html {
  @apply motion-safe:scroll-smooth;
}

body {
  @apply /* antialiased */ py-12 sm:py-24 md:py-32 text-neutral-700;
}

::selection {
  @apply bg-neutral-200 dark:bg-neutral-600;
}

.dark {
  color-scheme: dark;
}
